language: python
matrix:
  include:
    - arch: arm64
      python: 2.7
    - arch: amd64
      python: 2.7
    - arch: arm64
      python: 3.7
    - arch: amd64
      python: 3.7
    - arch: arm64
      python: 3.8
    - arch: amd64
      python: 3.8
    - arch: amd64
      python: pypy
    - arch: amd64
      python: pypy3
    - arch: arm64
      python: 2.7
      env: COVERAGE='on'
    - arch: amd64
      python: 2.7
      env: COVERAGE='on'
    - arch: arm64
      python: 3.6
      env: COVERAGE='on'
    - arch: amd64
      python: 3.6
      env: COVERAGE='on'
install:
  - pip install 'pip>=20.2.2'
  - pip install --use-feature=2020-resolver -U -e .[develop]
script:
  # Guard against invalid escapes in strings, like '\s'.
  - python -We:invalid -m compileall -f mpmath -q
  - pycodestyle
  - |
    if [ -n "${COVERAGE}" ]; then
      py.test --cov mpmath
    else
      py.test
    fi
after_success: test -n "${COVERAGE}" && codecov
notifications:
  email: false
