name: Publish on PyPI
on: push
jobs:
  sdist:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - run: pip install build
    - run: python -m build -s
    - uses: actions/upload-artifact@v4
      with:
        name: sdist
        path: dist/
  publish-to-pypi:
    name: Publish distribution to PyPI
    if: startsWith(github.ref, 'refs/tags/')
    needs:
      - sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: sdist
          path: dist/
          merge-multiple: true
      - run: ls -l
      - run: ls -l dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
